<header class="navbar navbar-default" role="navigation">
  <div class="coniner">
    <div class="navbar-header">
      <%= link_to "AwesomeEvents", root_path, class: 'navbar-brand' %>
    </div>
  </div>
</header>